.burger {
    display: none;
}

@media (max-width:767px) {
    .burger {
        cursor: pointer;
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
        z-index: 10;

        & span {
            position: absolute;
            left: 0;
            top: 5px;
            width: 30px;
            height: 3px;
            border-radius: 32px;
            background-color: #859BA6;
            transition: all .6s ease 0s;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 9px;
                width: 30px;
                height: 3px;
                background-color: #859BA6;
                border-radius: 32px;
                transition: all .6s ease 0s;

            }
        }

        &.js-active span {
            transform: rotate(45deg);
            top: 10px;

            &::after {
                transform: rotate(-90deg);
                top: 0px;
            }
        }
    }
}