.cookies {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 40px;
    width: 460px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {}

    &__button {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        color: #859BA6;
        background-color: transparent;
        padding: 13px 25px;
        border-radius: 5px;
        border: 2px solid #859BA6;
    }
}